-# User Profile View
#profile
  = cl_image_tag(@user.avatar_url(:thumb).to_s)
  %h1= "#{@user.first_name} #{@user.last_name}"
  -# To add a class inside an h3
  %h3{:class => "user"}=@user.occupation

  %h3= @user.location
  %h3= @user.website

#project_container
  - @user_posts.each do |post|
    #projects
      %h4=link_to post.title, post
      = link_to cl_image_tag(post.thumbnail_url(:medium).to_s), post
      %h4=link_to "#{@user.first_name} #{@user.last_name}", user_path(@user.id)
      -# To Nest Outer Strings and variables into one html element
      #stats
        %p
          Comments:
          =post.comments.count
        %p
          Likes:
          =post.get_likes.size
        %p
          Dislikes:
          =post.get_dislikes.size
